<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        @font-face {
            font-family: 'ean';
            src: url('{{path}}{{separator}}img{{separator}}ean13.woff') format('woff'),
            url('{{path}}{{separator}}img{{separator}}ean13.ttf') format('truetype'); /* Safari, Android, iOS */
        }

        body {
            margin: 0;
            font-size: 0;
            font-family: "Courier New" , Courier , monospace;
        }

        .polepka {
            width: 25%;
            height: 144px;
            position: relative;
            display: inline-block;
            font-size: 20px;
            text-align: center;
            overflow: hidden;
        }

        .ean {
            font-family: 'ean';
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            display: block;
            font-size: 54px;
            position: absolute;
            left: -36px;
            top: 46px;
            height: 61px;
            overflow: hidden;
            line-height: 46px;
        }
        .pn {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            position: relative;
            display: block;
            top: 60px;
            left: 13px;
            color: gray;
            font-size: 24px;
            float: left;
            width: 150px;
        }
        .popis {
            width: 50%;
            float: right;
            display: block;
            font-size: 15px;
            line-height: 15px;
            position: relative;
            top: -32px;
        }

        .barva, .strany {
            margin-top: 8px;
            margin-bottom: 8px;
        }

        .strany {
            max-height: 29px;
            overflow: hidden;
        }

        .circle {
            border-radius: 50%;
            width: 15px;
            height: 15px;
            position: absolute;
            left: 105px;
            bottom: 55px;
        }

        .magenta {
            bottom: 35px;
        }
        .yellow {
            bottom: 15px;
        }

        .space {
            height: 10px;
            width: 100%;
        }
        .small {
            height: 6px;
        }

        .jmeno {
            height: 64px;
            overflow: hidden;
            padding-top: 10px;
            font-size: {{fs}};
            font-weight: bold;
        }
    </style>
</head>
<body><!-- {{eanCode}} -->
    <div class="row">
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
            <div class="circle cyan" style="background-color: #00ffff"></div>
            <div class="circle magenta" style="background-color: #ffff00"></div>
            <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
            <div class="circle cyan" style="background-color: #00ffff"></div>
            <div class="circle magenta" style="background-color: #ffff00"></div>
            <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
            <div class="circle cyan" style="background-color: #00ffff"></div>
            <div class="circle magenta" style="background-color: #ffff00"></div>
            <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
                <div class="circle cyan" style="background-color: #00ffff"></div>
                <div class="circle magenta" style="background-color: #ffff00"></div>
                <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
    </div>
    <div class="space"></div>
    <div class="row">
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
            <div class="circle cyan" style="background-color: #00ffff"></div>
            <div class="circle magenta" style="background-color: #ffff00"></div>
            <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
            <div class="circle cyan" style="background-color: #00ffff"></div>
            <div class="circle magenta" style="background-color: #ffff00"></div>
            <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
            <div class="circle cyan" style="background-color: #00ffff"></div>
            <div class="circle magenta" style="background-color: #ffff00"></div>
            <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
            <div class="circle cyan" style="background-color: #00ffff"></div>
            <div class="circle magenta" style="background-color: #ffff00"></div>
            <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
    </div>
    <div class="space"></div>
    <div class="row">
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
            <div class="circle cyan" style="background-color: #00ffff"></div>
            <div class="circle magenta" style="background-color: #ffff00"></div>
            <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
            <div class="circle cyan" style="background-color: #00ffff"></div>
            <div class="circle magenta" style="background-color: #ffff00"></div>
            <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
            <div class="circle cyan" style="background-color: #00ffff"></div>
            <div class="circle magenta" style="background-color: #ffff00"></div>
            <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
            <div class="circle cyan" style="background-color: #00ffff"></div>
            <div class="circle magenta" style="background-color: #ffff00"></div>
            <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
    </div>
    <div class="space"></div>
    <div class="row">
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
            <div class="circle cyan" style="background-color: #00ffff"></div>
            <div class="circle magenta" style="background-color: #ffff00"></div>
            <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
            <div class="circle cyan" style="background-color: #00ffff"></div>
            <div class="circle magenta" style="background-color: #ffff00"></div>
            <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
            <div class="circle cyan" style="background-color: #00ffff"></div>
            <div class="circle magenta" style="background-color: #ffff00"></div>
            <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
            <div class="circle cyan" style="background-color: #00ffff"></div>
            <div class="circle magenta" style="background-color: #ffff00"></div>
            <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
    </div>
    <div class="space"></div>
    <div class="row">
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
            <div class="circle cyan" style="background-color: #00ffff"></div>
            <div class="circle magenta" style="background-color: #ffff00"></div>
            <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
            <div class="circle cyan" style="background-color: #00ffff"></div>
            <div class="circle magenta" style="background-color: #ffff00"></div>
            <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
            <div class="circle cyan" style="background-color: #00ffff"></div>
            <div class="circle magenta" style="background-color: #ffff00"></div>
            <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
            <div class="circle cyan" style="background-color: #00ffff"></div>
            <div class="circle magenta" style="background-color: #ffff00"></div>
            <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
    </div>
    <div class="space"></div>
    <div class="row">
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
            <div class="circle cyan" style="background-color: #00ffff"></div>
            <div class="circle magenta" style="background-color: #ffff00"></div>
            <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
            <div class="circle cyan" style="background-color: #00ffff"></div>
            <div class="circle magenta" style="background-color: #ffff00"></div>
            <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
            <div class="circle cyan" style="background-color: #00ffff"></div>
            <div class="circle magenta" style="background-color: #ffff00"></div>
            <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
            <div class="circle cyan" style="background-color: #00ffff"></div>
            <div class="circle magenta" style="background-color: #ffff00"></div>
            <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
    </div>
    <div class="space small"></div>
    <div class="row">
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
            <div class="circle cyan" style="background-color: #00ffff"></div>
            <div class="circle magenta" style="background-color: #ffff00"></div>
            <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
            <div class="circle cyan" style="background-color: #00ffff"></div>
            <div class="circle magenta" style="background-color: #ffff00"></div>
            <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
            <div class="circle cyan" style="background-color: #00ffff"></div>
            <div class="circle magenta" style="background-color: #ffff00"></div>
            <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
            <div class="circle cyan" style="background-color: #00ffff"></div>
            <div class="circle magenta" style="background-color: #ffff00"></div>
            <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
    </div>
    <div class="space"></div>
    <div class="row">
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
            <div class="circle cyan" style="background-color: #00ffff"></div>
            <div class="circle magenta" style="background-color: #ffff00"></div>
            <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
            <div class="circle cyan" style="background-color: #00ffff"></div>
            <div class="circle magenta" style="background-color: #ffff00"></div>
            <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
            <div class="circle cyan" style="background-color: #00ffff"></div>
            <div class="circle magenta" style="background-color: #ffff00"></div>
            <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
            <div class="circle cyan" style="background-color: #00ffff"></div>
            <div class="circle magenta" style="background-color: #ffff00"></div>
            <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
    </div>
    <div class="space"></div>
    <div class="row">
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
            <div class="circle cyan" style="background-color: #00ffff"></div>
            <div class="circle magenta" style="background-color: #ffff00"></div>
            <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
            <div class="circle cyan" style="background-color: #00ffff"></div>
            <div class="circle magenta" style="background-color: #ffff00"></div>
            <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
            <div class="circle cyan" style="background-color: #00ffff"></div>
            <div class="circle magenta" style="background-color: #ffff00"></div>
            <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
        <div class="polepka">
            <span class="ean">{{eanCode}}</span>
            <span class="pn">{{invNum}}</span>
            <div class="popis">
                <p class="jmeno">{{name}}</p>
                <p class="barva">{{colorName}}</p>
                <p class="strany">{{capacity}}</p>
            </div>
            {% if hexColor == "#ffffff" %}
            <div class="circle cyan" style="background-color: #00ffff"></div>
            <div class="circle magenta" style="background-color: #ffff00"></div>
            <div class="circle yellow" style="background-color: #ff00ff"></div>
            {% else %}
            <div class="circle" style="background-color: {{hexColor}}"></div>
            {% endif %}
        </div>
    </div>

</body>
</html>